* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.modal{
    background-color: rgb(88, 95, 95);
    border-radius: 3rem;
    padding: 10px;
}

.modal #img{
    margin-left: 16pc;
}

.modal .close{
    color: rgb(238, 7, 7);
}

.modal h3{
    font-family:'Courier New', Courier, monospace;
    align-items: center;

}

.modal{
    font-family: 'Courier New', Courier, monospace;
}

.poke{
    border-radius: 3rem;
}

.nomePokemon{
    text-align: center;
}

.infosPokemon{
    padding: 2rem;
}